body {
    background: #222d32;
    font-family: "Roboto", sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1a2226;
    text-align: center;
    border-radius: 10px;
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27ef9f, #0db8de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ecf0f5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type="text"] {
    background-color: #1a2226;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #0072ed;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ecf0f5;
}

input[type="password"] {
    background-color: #1a2226;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #0072ed;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ecf0f5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0db8de;
    outline: 0;
    background-color: #1a2226;
    color: #ecf0f5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 12px;
    color: #0072ed;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    padding: 5px;
}

.btn-outline-primary {
    border-color: #0db8de;
    color: #0db8de;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary:hover {
    background-color: #0db8de;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #a2a4a4;
}

.loginbttm {
    padding: 0px;
}

.zoom {
    padding: 50px;
    transition: transform 0.2s;
    /* Animation */
    margin: 0 auto;
    width: 50%;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div {
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
}

p {
    color: white;
}

.remember {
    color: white;
}
